#the name of your project
name = TestTC
#update all paths in this file
sdk.home = D:/sdks/sdk_4_0_0_
#change to .exe if you are using windows
bin.ext = .jar

# The location of the .p12 certificate file
keystore.file = D:/work/testTC/certs/WIN_Prod.p12
# The password of the .p12 certificate file
keystore.password = apple4win

pprofile.file = D:/work/testTC/certs/StardustCasino_APPSTORE.mobileprovision